body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0px;
  background-color: #f9f9f9;
  min-width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 8px;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

p {
  font-size: 16px;
  color: #555;
  text-align: center;
  margin-bottom: 20px;
}

input[type='text'],
input[type='submit'] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type='submit'] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #45a049;
}

.results {
  margin-top: 20px;
}

.result-item {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #fff;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #555;
}

input[type='checkbox'] {
  appearance: none;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  position: relative;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type='checkbox']::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  top: 1px;
  left: 1px;
  transition: transform 0.3s ease;
}

input[type='checkbox']:checked {
  background-color: #4caf50;
}

input[type='checkbox']:checked::before {
  transform: translateX(20px);
}

/* Estilos para mensajes */
.message {
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
  transition: all 0.3s ease;
}

.message.hidden {
  display: none;
}

.message.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.message.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
